@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.bg-gray {
    background-color: #F4FAFD;
}

p {
    color: #777777;
    font-weight: 400;
}

.text-gray {
    color: #4A4A4A;
}

.bg-sky {
    background-color: #289BDE;
}

.text-sky {
    color: #289BDE;
}

.text-lt {
    color: #F4F4F4;
}

.bg-footer {
    background-color: #161616;
}